{
  "rules": {
    "quotes": 0,
    "no-console": 0
  },
  "env": {
    "mocha": true,
    "browser": true,
    "es2021": true
  },
  "globals": {
    "expect": false,
    "sinon": false,
    "happen": false,
    "Hand": false,
    "touchEventType": false /* defined in SpecHelper.tsc */
  }
}
